* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 42, 1) 49%, rgba(0, 1, 10, 1) 100%);
}

main {}

.main_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.logo {}

.logo img {
    width: 230px;
    height: 68px;
}

.title {}

.title h1 {
    color: white;
    width: 334px;
    height: 42px;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
}

.container_cards {}

.users {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
}

.users li {
    margin: 0 10px;
    width: 160px;
    list-style: none;
}

.users li img {
    border-radius: 5px;
    border: 2px solid transparent;
}

.users li img:hover {
    border: white 2px solid;
}

.users li p {
    color: #9C9C9C;
    text-align: center;
    margin-top: 20px;

}

.users li:hover p {
    color: white;
}
.img{
    background-image: url("../pictures/avatar4.png");
    width: 160px;
    height: 160px;
}
.img:hover{
    background-image: url("../pictures/avatar5.png");
}

.gerenciar_perfis {
    padding-bottom: 5%;
}

.gerenciar_perfis button {
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
}

.gerenciar_perfis button:hover {
    background-color: #fff;
    color: #000;
}